@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

:root {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;

  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --radius-card: 16px;
  --transition: 250ms;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

/* RESPONSIVE */


@media screen and (max-width: 880px) {
  body { font-size: 12px; }

  main {
    grid-template-columns: 1fr;
    max-width: 700px;
  }

  .list-skills { grid-template-columns: 1fr 1fr 1fr 1fr; }
}

@media screen and (min-width: 881px) {
  main {
    grid-template-columns: 0.3fr 1fr;
    max-width: 1300px;
  }
  
  .list-skills { grid-template-columns: 1fr 1fr 1fr; }
}

body {
  background-color: var(--body-bg-color);
}

main {
  display: grid;
  justify-content: center;
  gap: 3rem;
  padding: 0 2.5vw;
  margin: 0 auto;
}

.card {
  margin: 1.5rem 0;
  background-color: var(--bg-cards);
  border-radius: var(--radius-card);
  padding: 2rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.c-person { text-align: center; }

.c-person h2 { padding: 1rem 0 0.4rem 0; }

.list-skills, .list-info {
  list-style-type: none;
}

.list-info li a{
  display: flex;
  gap: 1rem;
  align-items: center;
  word-break: break-word;
}

.list-info li:not(:first-child) {
  padding-top: 1rem;
}

.user-img {
  width: 50%;
  min-width: 70px;
  max-width: 120px;

  height: 50%;
  min-height: 70px;
  max-height: 120px;

  border-radius: 50%;
  object-fit: cover;
}

.lightgreen-border { border: 2px solid lightgreen; }

.list-skills {
  display: grid;
  gap: 1rem;
}

.card-recued-title {
  padding-bottom: 2rem;
  margin-left: -0.6rem;
}

.list-skills li {
  background-color: var(--bg-techs);
  border-radius: var(--radius-card);
  padding: 0.5em 0.35em;

  /* text */
  text-align: center;
  color: black;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
}

.list-dot { padding-left: 2rem; }

.list-dot li:not(:first-child) { padding-top: 1rem; }

.date-info, .info { display: block; }

.my-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition);
}

a:visited, a:link, a:active { color: var(--text-color); }

a:hover { color: var(--bg-techs); }

.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.project-header a{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.project p { font-size: 0.9em; }

.project-desc { padding-bottom: 1rem; }

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star { padding-right: 0.75rem; }

.star, .branch { font-size: 0.75em; }

.star, .branch, .language {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.language-color {
  background-color: yellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  border: 1px solid var(--text-color);
}

.post-container {
  display: flex;
  gap: 1rem;
}

h4 {
  font-weight: 700;
  font-size: 1.1em;
}

.post-time {
  font-size: 0.8em;
  padding: 0.5rem 0 1.75rem 0;
}

.tags {
  padding-top: 1rem;
}

.tags span {
  font-size: 0.8em;
  padding-right: 12px;
}

footer {
  padding: 2rem 0 1rem 0;
  text-align: center;
}